:host {
    align-self: center;
}

.login {
    position: fixed;
    margin-top: 1.5rem;
    transform: translateX(-60%);
    white-space: nowrap;
    //background: $backgroundColor;
    z-index: 10;
}
