@import url('https://fonts.googleapis.com/css?family=Play');
@import url('https://fonts.googleapis.com/css?family=Lato');

@import "variables";

html, body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    //todo: issues with scrollable screen
    background: radial-gradient(ellipse at bottom, #1B2735 0%, $backgroundColor 100%);
    color: $foregroundColor;
}

a {
    color: $foregroundColor;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: $primaryColor;
    }
}

.hidden {
    display: none;
}










