.track {
    padding: 1rem;
    border: 2px dashed white;
}

.wrapper {
    width: 100%;
    transition: transform .2s ease-in-out;
}

.racer {
    border: 2px solid white;
    display: inline-block;
    transition: transform .2s ease-in-out;
}
