@import "../../../variables";

header {
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem .5rem 0;
    box-shadow: 0 0 10px darken($backgroundColor, 20%);
}

.logo {
    > * {
        vertical-align: middle;
    }

    > .rocket {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: $foregroundColor;
        mask: url('../../../assets/images/logo.svg') no-repeat 0 50%;
    }

    > strong {
        font-size: 2rem;
        font-weight: normal;
        margin-left: .5rem;
    }

    &:hover > .rocket {
        background-color: $primaryColor;
    }
}
