@import "../variables";

:host {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    overflow: hidden;
}

//todo: 2000px - hmm...
// n is number of stars required
@function multiple-box-shadow ($n) {
    $value: '#{random(2000)}px #{random(2000)}px #FFF';

    @for $i from 2 through $n {
        $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF'
    }

    @return unquote($value)
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);

main {
    flex: 1;
}

.distantStars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
    animation: starsAnimation 50s linear infinite;

    &:after {
        content: ' ';
        position: absolute;
        top: 2000px;
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: $shadows-small;
    }
}

.closeStars {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
    animation: starsAnimation 100s linear infinite;

    &:after {
        content: ' ';
        position: absolute;
        top: 2000px;
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: $shadows-medium;
    }
}

@keyframes starsAnimation {
    from {
        transform: translateY(0px)
    }
    to {
        transform: translateY(-2000px)
    }
}


footer {
    text-align: center;
    padding: .5rem;
    box-shadow: 0 0 10px darken($backgroundColor, 20%);
}
