textarea {
    width: 100%;
}

span:after {
    content: ' ';
}

span.current-word {
    color: steelblue;
    font-weight: bold;
    text-decoration: underline;
}

span.incorrect-word {
    color: crimson;
    font-weight: bold;
    text-decoration: underline;
}
