<a role="button" class="main-menu-button" (click)="toggleMenu()">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
</a>

<nav #menu>
    <a routerLink="races/new"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact:true}"
    >
        New Race
    </a>
    <a routerLink="races"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact:true}"
    >
        Join Race
    </a>
    <a routerLink="settings"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact:true}"
    >
        Settings
    </a>
    <a routerLink="about"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact:true}"
    >
        About
    </a>
</nav>
