@import "../../variables";

$mainMenuButtonSize: 2rem;

.main-menu-button {
    display: inline-block;
    width: $mainMenuButtonSize;
    height: $mainMenuButtonSize;
    cursor: pointer;

    > .line {
        display: block;
        height: $mainMenuButtonSize / 8;
        background: $foregroundColor;

        &:nth-child(2) {
            width: 70%;
            margin: $mainMenuButtonSize / 5 0;
        }
    }
}
